/* show diff button */
.btn-4 {
  border: 1px solid;
  overflow: hidden;
  position: relative;
}
.btn-4 span {
  z-index: 20;
}
.btn-4:after {
  background: #fff;
  content: "";
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.btn-4:hover:after {
  left: 120%;
  transition: all 1000ms cubic-bezier(0.19, 1, 0.22, 1);
}
/* end show diff button */

.theme-light {
  background-color: #f7fafc;
  color: #121212;
}
.theme-dark {
  background-color: #292c35;
  color: #f7fafc;
}

.theme-light textarea {
  color: #121212;
}

.theme-dark textarea {
  background-color: #374151;
  color: #f7fafc;
}

.theme-light,
.theme-dark {
  transition: background-color 500ms, color 500ms;
}

.theme-light textarea,
.theme-dark textarea {
  transition: color 500ms, background-color 500ms;
}

.theme-dark .span.d2h-file-name,
svg.d2h-icon,
span.d2h-file-name-wrapper,
.d2h-code-line {
  color: #121212;
}

.d2h-wrapper {
  background-color: #f7fafc;
}

footer {
  position: fixed;
  margin: auto;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
}

.theme-dark footer {
  background-image: linear-gradient(transparent, #292c35);
}

.theme-light footer {
  background-image: linear-gradient(transparent, #f7fafc);
}
